<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vitech.storiesofcommonman">
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_brand"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DashBoardActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StoryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_story"
            android:parentActivityName=".DashBoardActivity"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashBoardActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name=".TeamActivity"
            android:configChanges="orientation"
            android:label="Team"
            android:parentActivityName=".DashBoardActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashBoardActivity" />
        </activity>
        <activity android:name=".AboutActivity"
            android:label="About Us"
            android:parentActivityName=".DashBoardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".DashBoardActivity" />

        </activity>
        <activity android:name="in.myinnos.awesomeimagepicker.activities.AlbumSelectActivity" android:screenOrientation="portrait" />
        <activity android:name="in.myinnos.awesomeimagepicker.activities.ImageSelectActivity" android:screenOrientation="portrait" />
    </application>

</manifest>